
body {
	font-family: "Lucida Console", Monaco, monospace;
	color: #A4D4CA;
	background-color: #444444;
}

h1 {
	text-align: center;
}

#map {
	margin: 0 auto;
	width: 80vw;
	height: 80vh;
	color: #111;
	box-shadow: 25px 25px 100px 25px black;
}

#map img {
	display: flex;
	justify-content: center;
	align-self: center;
	max-width: 100px;
	border: 1px solid #333;
	border-radius: 3px;
}

@media only screen and (max-width: 1400px) and (min-width: 1001px) {
	#map {
		height: 89vh;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
	#map {
		height: 89vh;
		width: unset;
	}
}

@media only screen and (max-width: 600px) {
	#map {
		height: 97vh;
		width: unset;
	}
	h1 {
		display: none;
	}
}

input {
	display: flex;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 3px;
	background-color: #A4D4CA;
	border: none;
	padding: 5px;
	border-style: solid;
	border-color: #A4D4CA;
}

input:hover {
	background-color: transparent;
	color: #A4D4CA;
	font-weight: 2px;
	border-style: solid;
	border-color: #A4D4CA;
}